includes:
    - ./vendor/yamadashy/phpstan-friendly-formatter/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 9
    parallel:
        processTimeout: 1800.0
    errorFormat: friendly
